<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>Iris Species Classification</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>


<div class="ui container" , style="margin-top:50px">

    <body>
    <h1>Investment Recommandation</h1>

    <form class="ui form" method="POST" action="/">

        <select class="ui dropdown" name="interest">
            <option value="">Select your interested investment</option>
            <option value="stocks">Stocks</option>
            <option value="crypto">Crypto</option>
        </select>

        <div class="field">
            <label>Quantity</label>
            <input type="number" name="quantity" placeholder="How much do you want to invest?">
        </div>
        <button class="ui button" type="submit">Submit</button>
    </form>
    </body>
</div>

</html>