<!doctype html>
<html>
<meta charset="UTF-8">
<title>Iris Species Classification</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<body>

<div class="ui container", style="margin-top:50px">

  <h1>Order Status</h1>
    <div class="row justify-content-md-center">



                <p> Your order has been accepted</p>
                <p> Chosen Investment: {{ interest }} </p>
                <p> Quantity: {{ quantity }} </p>
         {% autoescape off %}
            {{ figures[0]|safe}}
        {{ figures[1]|safe}}
        {{ figures[2]|safe}}
        {{ figures[3]|safe}}
        {{ figures[4]|safe}}
        {% endautoescape %}

        <p align="center"><a href=accepted?time=1 ><button class=grey style="height:75px;width:150px">vmd timestamp</button></a></p>



        </div>
    </div>


</div>


</body>
</html>